<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.u.s.alternative-pc</string>
	<key>CFBundleName</key>
	<string>50% Keyboard Layout</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>KLInfo_Russian - 50%</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.u.s.alternative-pc.russian-50%</string>
		<key>TISIntendedLanguage</key>
		<string>ru</string>
	</dict>
	<key>KLInfo_U.S. - 50%</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.u.s.alternative-pc.u.s.-50%</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
	</dict>
</dict>
</plist>
